@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, em, b, i, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { color: #333; font:14px/1.5em "Microsoft YaHei",arial,tahoma; }
h1, h2, h3, h4, h5, h6,b{ font-size:100%; font-weight: normal;}
address, cite, dfn, em, var, i, b { font-style:normal; }
ul, ol { list-style:none; }
a { color: #333; text-decoration:none; }
img { border:0; }
button, input, select, textarea { font-size:100%;  border:none;}
table { border-collapse:collapse; border-spacing:0; }
input:focus,button:focus,a:focus,select:focus,textarea:focus { outline: none}
.clearFix:after {content: ""; display: block; clear: both;}
.clearFix{zoom:1}
body,html{
	background: #fff;
	font-size: 0.6rem;
	color: #979797;
}
.white{
	background: #fff;
}
margin: 0; padding: 0;

